@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: cartage;
  src: url("../src/assets/fonts/cartagestenciljnl.ttf");
}

@theme {
  --font-poppins: poppins, "sans serif";
  --font-lato: lato, "sans serif";
  --font-ano: "Anonymous Pro", monospace;
  --font-space: "Space Grotesk", monospace;
  --font-cartage: cartage, monospace;

  --color-primary-500: #f2f5f4;
  --color-primary-600: #e7ecea;

  --color-accent-400: #b04b74;
  --color-accent-500: #912f56;
  --color-accent-600: #7a2849;

  --color-main: #1a1a1a;
  /* figma */
  --color-secondary: #4a4a4a;
  --color-trenary: #6a6a6a;
  /* chatgpt */
  --color-secondary: #6b7f7a;
}
